

@media all and (max-width:1000px){
	.header-containers{
		flex-direction: column;

	}
	.logo{
		width: 100%;
		text-align: center;
		padding: 20px 0;
	}
	.main-menu{
		width: 100%;
		justify-content: center;
	}
	.main-menu ul{
		display: flex;
		justify-content: center;
	}
	.main-menu ul li a{
		padding: 20px 18px;
	}
	.contente h1{
		width: 100%;
		margin: 20px auto;
		font-size: 3.5rem;
	}

}


@media all and (max-width:820px){

	.container{
		width: 90%;
	}
	.logo{
		padding: 0;
	}
	.contente h1{
		width: 100%;
		margin: 20px auto;
		font-size: 2.5rem;
	}
	.bars{
	display: block;
	}
	.main-menu{
		display: none;
	}
	.logo h2{
	color: skyblue;
	margin: 0;
	font-size: 30px;
	padding: 19px 0;
	}
	.contente{
	width: 100%;
	}
	.contente h1{
	font-size: 2.4rem;
	}
	.buy-section h4{
		width: 80%;
	}
	.buy-section button{
		width: 60%;
	}
	.contact-bottom{
		flex-direction: column;
	}
	.contact-bottom-left{
		width: 100%;
	}
	.contact-bottom-left h2{
		width: 100%;
	}
	.contact-bottom-left button{
		width: 100%;
	}
	.contact-bottom-right{
		width: 100%;
		padding-top: 50px;
	}
	.address-top, .address-bottom{
		width:100%;
		padding-left: 0;
	}
	.contact-us{
		padding-bottom: 0;
		padding-top: 100px;
	}
	.footer-left{
		width: 100%;
		padding-left: 0;
		text-align: center;
	}
	.footer-right{
		text-align: center;
		width: 100%;
		
	}
	.footer-list{
		justify-content: center;
		padding-left: 0;
	}
	.h2 {
		font-size: 25px;
	}
	.buy-content{
		width: 100%;
	}
	.buy-content h4{
		font-size: 15px;
	}
	.contact-bottom-left h2{
		width: 100%;
		font-size: 25px;
	}
	.journal-bottom .row .col-lg-1 img{
		margin-top: 0;

	}
}

@media all and (max-width:576px){
	.journal-bottom .row .col-lg-1 img{
		display: none;
	}
	.arrow-left{
		position: absolute;
		top:140%;
		left: 30%;
		background: red;
	}
	.arrow-left a{
		padding: 20px 25px;
		background:black;
		color: white;
	}

	.arrow-right{
		position: absolute;
		top: 140%;
		right: 30%;
		background: red;
	}
	.arrow-right a{
		padding: 20px 25px;
		background:black;
		color: white;
	}

}


