body{
	width: 100%;
	margin: 0;
	padding: 0;
	background: red;
/*	font-family: "Roboto", sans-serif;
	font-weight: normal;*/
}
.container{
	width: 80%;
}
/*header section start */

.header{
	width: 100%;
	background: #000000;
	z-index: 9999;
}
.header:after{
	content: "";
	display: block;
	clear: both;
}
.header-containers{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.logo{
	padding-right: 2rem;
}
.logo h2{
	font-size: 30px;
	margin-top: 18px;
	color: white;
}
.main-menu ul{
	width: 100%;
	margin: 0;
	padding: 0;

}
.main-menu ul li{
	list-style-type: none;
	float: left;
}
.main-menu ul li a{
	text-decoration: none;
	padding: 25px 18px;
	display: block;
	text-transform: capitalize;
	color: rgba(255, 255, 255, 0.6);
}
.main-menu .active a{
	background: #11ABB0;
}

.sidebar{
	height: 100%;
	padding: 0;
	width: 50%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;
	background:#11ABB0;
	backdrop-filter: blur(10px);
	display: none;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.sidebar li{
	width: 100%;
	border-bottom: 1px solid white;
	list-style-type: none;
}
.sidebar li:hover{
	background: skyblue;
	color: black;
}
.sidebar li a{
	text-decoration: none;
	color: white;
	padding: 25px 20px;
	display: block;
	text-transform: capitalize;
}

.bars{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;
	background: #11ABB0;
	display: none;
}
.bars li{
	list-style-type: none;
}
.bars li a{
	display: block;
	padding: 14px 30px;
	font-weight: normal;
	font-size: 30px;
	color: white;
}

/*.x-bars{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	background: skyblue;
	display: none;
}
.x-bars li{
	list-style-type: none;
}
.x-bars li a{
	display: block;
	padding: 14px 30px;
	font-weight: normal;
	font-size: 30px;
	color: white;
}*/

.main-menu ul li a:hover{
	color: white;
	transition: 1s;
}
/*header section end */

/*banner section start*/
.banner-section{
	padding: 250px 0;
	width: 100%;
	background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("images/hero-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;
}
.contente{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.contente h1{
	color: white;
	font-size: 4.4rem;
	margin-top: 0;
	margin-bottom: 40px;
}
.contente p{
	width: 60%;
	margin: 0 auto;
	color: rgba(255, 255, 255, 0.6);
}
span{
	color: #11ABB0;
}

/*banner section end*/


/*service section start*/

.services{
	background: #131516;
	padding: 200px 0;
}
.service-top{
	margin-bottom: 70px;
}
.service-top .row .col-md-4 p{
	color: #11ABB0;
}
.service-top .row .col-md-4 h3{
	color: white;
	margin-top: 10px;
}
.service-top .row .col-md-8 p{
	font-size: 25px;
	color: #57595A;
}
.service-bottom .row h5{
	padding: 20px 0;
	color: white;
}
.service-bottom .row p{
	font-size: 20px;
	color: #717373;
}
.service-bottom .row span{
	padding-right: 10px;
	font-size: 22px;
	font-weight: bold;
}

/*service section end*/

/*portfolio section start*/
.portfolio{
	background: #EFF0F0;
	padding: 200px 0;
	box-sizing: border-box;
}
.portfolio-top{
	margin-bottom: 70px;
}
.portfolio-top .row .col-md-4 p{
	color: #11ABB0;
}
.portfolio-top .row .col-md-8 p{
	font-size: 22px;
	color: #57595A;
}

.card:hover .card-body{
	background: black;
	color: white;
	transition: 1s;
}
.card .card-body .card-title{
	font-size: 16px;
}

/*portfolio section end*/

/*journal section start*/

.journal{
	background: #0E878B;
	padding: 200px 0;
}
.journal-top{
	color: white;
}
.journal-top h6{
	color: #CFE7E8;
	font-size: 17px;
	margin-bottom: 90px;
}
.journal-bottom .row .col-lg-1 img{
	margin-top: 10px;
	height: 70px;
	width: 70px;
	border: none;
	border-radius: 50%;
}
.h2{
	margin-top: 0;
	padding-top: 0;
	font-size: 40px;
	color: white;
	cursor: pointer;
}
.h2:hover{
	color: #000000;
}
.par{
	margin-bottom: 0;
	color: #B2D9DA;
	font-size: 18px;
}
.dateh4{
	color: white;
}
.dateh6{
	color: #B2D9DA;
	font-size: 16px;
}

/*journal section end*/

/*about section start*/

.about-us{
	background: white;
	padding: 200px 0;
}
.about-top{
}
.about-top .row .col-md-4 p{
	color: #11ABB0;
}
.about-top .row .col-md-4 h3{
	color: black;
	margin-top: 10px;
}
.about-top >.row >.col-md-8 >p{
	font-size: 23px;
	color: #57595A;
}
.about-bottom .row h5{
	letter-spacing: 4PX;
	padding: 20px 0;
	color: #11ABB0;
}
.about-bottom .row >p{
	font-size: 20px;
	color: #717373;
}
.about-top h4{
	margin: 50px 0;
	font-size: 30px;
	font-weight: normal;
}
.about-bottom h4{
	margin: 50px 0;
	font-size: 30px;
	font-weight: normal;
}

.teemname{
	font-size: 20px;
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 2px;
	color: #11ABB0;
}
.owl-carousel .owl-item img{
	width: 70px;
	height: 70px;
	border: none;
	border-radius: 50%;
	float: left;
}
.user-bottom {
	width:90%;
	overflow: hidden;
}

/*about section end*/

/*buy section start */

.buy-section{
	width: 100%;
	background: #0E878B;
	padding: 150px 0;
	text-align: center;
}
.buy-section h2{
	color: white;
	margin: 0;
}
.buy-section h4{
	padding: 20px 0;
	width: 60%;
	margin: 0 auto;
	color: #B7DBDC;
}
.deam{
	color: white;
}
.buy-section button{
	margin-top: 20px;
	padding: 20px 0;
	border: none;
	background: black;
	color: white;
	width: 45%;
	letter-spacing: 5px;
	font-weight: bold;
	font-size: 14px;
}
.buy-section button:hover{
	background: white;
	color: black;
	transition: 0.5s;
}



.contact-us{
	width: 100%;
	background: black;
	padding: 200px 0;
}
.contact-top h2{
	margin-top: 0;
	color: white;
}
.contact-top p{
	color: #0E878B;
	font-size: 18px;
}
.contact-bottom{
	display: flex;
	justify-content: flex-start;
	margin-top: 100px;
}
.contact-bottom-left{
	width: 60%;
}
.contact-bottom-left h2{
	width: 90%;
	font-size: 40px;
	color: white;
	line-height :50px;
}
.contact-bottom-left button{
	margin-top: 60px;
	padding: 20px 0;
	border: none;
	background: #0E878B;
	color: white;
	width: 90%;
	letter-spacing: 5px;
	font-weight: bold;
	font-size: 14px;
}
.contact-bottom-left button:hover{
	background: white;
	color: black;
	transition: 0.5s;
}
.contact-bottom-right{
	width: 40%;
}
.contact-bottom-right .icon{
	font-size: 22px;
	padding: 0px 20px;
	float: left;
	color: white;
}
.contact-bottom-right .info h5{
	color: white;
	padding-top: 5px;
}
.contact-bottom-right .info p{
	margin-left: auto;
	width: 86%;
	font-size: 18px;
	padding-top: 10px;
	color: gray;
}
.address-top,
.address-bottom{
	width: 100%;
	padding-left: 100px;
	padding-bottom: 60px;
}




.footer{
	padding-bottom: 100px;
	width: 100%;
	background: black;
}
.footer-left{
	float: left;
	width: 60%;
}
.footer-left p{
	margin-top: 10px;
	color: gray;
}
.footer-right{
	width: 40%;
	overflow: hidden;
}
.footer-list{
	width: 100%;
	padding-left: 100px;
	margin: 0;
	display: flex;
	justify-content: flex-start;
}
.footer-list li{
	margin: 0;
	list-style-type: none;
}
.footer-list li a{
	color: white;
	font-size: 25px;
	padding: 0px 10px;
}
.footer-list li a:hover{
	color: #0E878B;
	transition: 0.3s;
}
.StyleShout{
	color: white;
	font-weight: bold;
}




.manger-list{
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-start;
}
.manger-list li{
	margin: 0;
	list-style-type: none;
}
.manger-list li a{
	color: black;
	padding: 0px 5px;
}
.manger-list li a:hover{
	color: #0E878B;
	transition: 0.3s;
}



