body{
	margin: 0;
	padding: 0;
/*	background: red;*/
/*	font-family: "Roboto", sans-serif;
	font-weight: normal;*/
}

/*header section start */

.header{
	width: 100%;
	background: #000000;
}
.header:after{
	content: "";
	display: block;
	clear: both;
}
.header-containers{
	width: 100%;
	display: flex;
	justify-content: center;
}
.logo{
	padding-right: 2rem;
}
.logo h2{
	font-size: 30px;
	margin-top: 18px;
	color: white;
}
.main-menu{
	float: right;
}
.main-menu ul{
	margin: 0;
	padding: 0;
	float: right;

}
.main-menu ul li{
	list-style-type: none;
	float: left;
}
.main-menu ul li a{
	text-decoration: none;
	padding: 25px 18px;
	display: block;
	text-transform: capitalize;
	color: rgba(255, 255, 255, 0.6);
}
.main-menu .active a{
	background: #11ABB0;
}

.sidebar{
	height: 100%;
	padding: 0;
	width: 50%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;
	background:#11ABB0;
	backdrop-filter: blur(10px);
	display: none;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.sidebar li{
	width: 100%;
	border-bottom: 1px solid white;
	list-style-type: none;
}
.sidebar li:hover{
	background: skyblue;
	color: black;
}
.sidebar li a{
	text-decoration: none;
	color: white;
	padding: 25px 20px;
	display: block;
	text-transform: capitalize;
}

.bars{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;
	background: #11ABB0;
	display: none;
}
.bars li{
	list-style-type: none;
}
.bars li a{
	display: block;
	padding: 14px 30px;
	font-weight: normal;
	font-size: 30px;
	color: white;
}

/*.x-bars{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	background: skyblue;
	display: none;
}
.x-bars li{
	list-style-type: none;
}
.x-bars li a{
	display: block;
	padding: 14px 30px;
	font-weight: normal;
	font-size: 30px;
	color: white;
}*/

.main-menu ul li a:hover{
	color: white;
	transition: 1s;
}
/*header section end */

/*banner section start*/
.banner-section{
	padding: 250px 0;
	width: 100%;
	background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("images/hero-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.contente{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.contente h1{
	color: white;
	font-size: 4.4rem;
	margin-top: 0;
	margin-bottom: 40px;
}
.contente p{
	width: 60%;
	margin: 0 auto;
	color: rgba(255, 255, 255, 0.6);
}
span{
	color: #11ABB0;
}

/*banner section end*/


/*service section start*/

.services{
	background: #131516;
	padding: 200px 0;
}
.service-top{
	margin-bottom: 70px;
}
.service-top .row .col-md-4 p{
	color: #11ABB0;
}
.service-top .row .col-md-4 h3{
	color: white;
	margin-top: 10px;
}
.service-top .row .col-md-8 p{
	font-size: 25px;
	color: #57595A;
}
.service-bottom .row h5{
	padding: 20px 0;
	color: white;
}
.service-bottom .row p{
	font-size: 20px;
	color: #717373;
}
.service-bottom .row span{
	padding-right: 10px;
	font-size: 22px;
	font-weight: bold;
}

/*service section end*/

/*portfolio section start*/
.portfolio{
	background: #EFF0F0;
	padding: 200px 0;
	box-sizing: border-box;
}
.portfolio-top{
	margin-bottom: 70px;
}
.portfolio-top .row .col-md-4 p{
	color: #11ABB0;
}
.portfolio-top .row .col-md-8 p{
	font-size: 22px;
	color: #57595A;
}

.card-body:hover{
	background: black;
	color: white;
	transition: 1s;
}

/*portfolio section end*/

/*journal section start*/

.journal{
	background: #0E878B;
	padding: 200px 0;
}
.journal-top{
	color: white;
}
.journal-top h6{
	color: #CFE7E8;
	font-size: 17px;
	margin-bottom: 90px;
}
.journal-bottom .row .col-lg-1 img{
	margin-top: 10px;
	height: 70px;
	width: 70px;
	border: none;
	border-radius: 50%;
}
.h2{
	margin-top: 0;
	padding-top: 0;
	font-size: 40px;
	color: white;
}
.par{
	margin-bottom: 0;
	color: #B2D9DA;
	font-size: 18px;
}
.dateh4{
	color: white;
}
.dateh6{
	color: #B2D9DA;
	font-size: 16px;
}

/*journal section end*/


.about-us{
	background: white;
	padding: 200px 0;
}
.about-top{
}
.about-top .row .col-md-4 p{
	color: #11ABB0;
}
.about-top .row .col-md-4 h3{
	color: black;
	margin-top: 10px;
}
.about-top >.row >.col-md-8 >p{
	font-size: 23px;
	color: #57595A;
}
.about-bottom .row h5{
	letter-spacing: 4PX;
	padding: 20px 0;
	color: #11ABB0;
}
.about-bottom .row >p{
	font-size: 20px;
	color: #717373;
}
.about-top h4{
	margin: 50px 0;
	font-size: 30px;
	font-weight: normal;
}
.about-bottom h4{
	margin: 50px 0;
	font-size: 30px;
	font-weight: normal;
}

.teemname{
	font-size: 20px;
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 2px;
	color: #11ABB0;
}
.owl-carousel .owl-item img{
	width: 70px;
	height: 70px;
	border: none;
	border-radius: 50%;
	float: left;
}
.user-bottom {
	width:90%;
	overflow: hidden;
}







